.bodyContainer {
	width: 33%;
}
.div-res {
	background-color: #D3D3D3;
	border: solid;
	height: 48px;
	font-size: 20px;
}
.buttonContainer {

}
.buttonContainer > .buttonClass {
	width: 25%;
	height: 36px;
	font-size: 18px;
	margin: 0px;
	float: left;
}
.buttonContainer > .buttonClassBin {
	background-color: #90EE90;
	color: #964B00;
}